---
import Icon from "astro-icon";
import type { CollectionEntry } from "astro:content";

interface Props {
	features: CollectionEntry<"features">;
}

const {features} = Astro.props;
---

<section id="features" class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-2xl font-semibold leading-7">{features.data.title}</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">{features.data.subtitle}</p>
      <p class="mt-6 text-lg leading-8">{features.data.content}</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        {
					features.data.bulletPoints && features.data.bulletPoints.map((bulletPoint) => (
					<div class="relative pl-16">
          <dt class="text-base font-semibold leading-7">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
						<Icon name={bulletPoint.icon} class="h-6 w-6 text-primary-500" pack="mdi" />
            </div>
          {bulletPoint.title}
          </dt>
          <dd class="mt-2 text-base leading-7">
							{bulletPoint.content}
					</dd>
        </div>
					))
				}
      </dl>
    </div>
  </div>
</section>
