---
import config from "@/config/config.json";
import { Image } from "astro:assets";
import sponsorLogo from "@/assets/sponsors-logos.jpeg";


const {
  logo_width,
  logo_height,
  title,
}: {
  logo_width: any;
  logo_height: any;
  title: string;
} = config.site;

---

<a href="/">
  {

      <>
        <Image
          src={sponsorLogo}
          class={`inline-block `}
					width={logo_width}
					height={logo_height}
          alt={title}
          format="jpeg"
        />
				<span class="text-2xl">{title}</span>
      </> 
  }
</a>